
*{
    box-sizing: border-box;
}
div#container{

    border:rebeccapurple 5px solid;
    width:fit-content;
}   
.pixel-row-style{
    display:flex;
}
.pixel-style{
    width:20px;
    height:20px;
    border: 1px solid rgb(255, 0, 0);
    background:rgba(0, 0, 0, 0.288);
    margin:2px;
}
.pixel-move-style{
    background:white;
}

.control-button{
    color:white;
    background-color:aquamarine;
    width:120px;
    height:70px;
    margin:20px;
    font-size:25px;
    font-weight: bolder;
    font-style: italic;
}
#controls{
    display:flex;
}