
*{
    box-sizing: border-box;
}
:root{
    --pixel-height:calc((500/16)*1px);
    --margin-height:2px;
}
div#container{
    display: flex;
    flex-direction: column  ;
    border:rebeccapurple 5px solid;
    max-width:fit-content;
    max-height:fit-content;
    
}   
.pixel-row-style{
    display:flex;
}
.pixel-style{
    position: relative;
    width:var(--pixel-height);
    height: var(--pixel-height) ;
    border: 1px solid rgb(255, 0, 0);
    background:rgba(0, 0, 0, 0.288);
    margin:var(--margin-height);
    flex:0 1 auto;
}
.pixel-move-style{
    background:white;
}

.control-button{
    color:white;
    background-color:aquamarine;
    width:120px;
    height:70px;
    margin:20px;
    font-size:25px;
    font-weight: bolder;
    font-style: italic;
}
#controls{
    display:flex;
}